.navbar-inverse {
  background-color: #439bad;
  border: none;
}

.navbar-header a.navbar-brand {
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	color: #439bad;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: 'Gravitas One', cursive;
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}

h1:hover span {
	color: #b1d5dc;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;

}

h1 span {
	font-weight: 100;
	text-transform: lowercase;
	letter-spacing: 1px;
}

.banner { 
	position: relative; overflow: auto; 
	margin-top: 50px;
}

.banner li.fill { 
	list-style: none; 
}

.banner ul.item li.fill { 
	float: left; 
}

ul.item {
    margin: 0px;
    padding: 0px;    
}

ul.item li.fill {   
    min-height: 350px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

}

.banner .dots {
	position: absolute;	
	bottom: 25px;
	left:50%; /* 50% will center the dots in large screen but ... */
    margin-left:-75px; /* margin left will adjust when resizing the screen */
}

.banner .dots li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 4px;
	text-indent: -999em;
	border: 2px solid #fff;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0.4;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
}

.banner .dots li.active {
	background: #fff;
	opacity: 1;
}
